<html>
    <head>
        <title>Method pro day 1 | Intro</title>
    </head>
    <body>
        <section id='anotherApp'></section>
        <div id='app'>
            <hr>
            data, methods, 
            @click,
            v-if, v-for, v-show, v-model
            <hr>
                <table  border=1>
                    <tr v-for='(row,index) in table'>
                        <td>
                            {{ index + 1 }}
                        </td>
                        <td>
                            {{ row.name }}
                        </td>
                        <td>
                            {{ row.surname }}
                        </td>
                        <td>
                            <button @click='deleteUser(index)'>Delete</button>
                        </td>
                    </tr>
                </table>
                
        

                <div>
                    <h3>Add another one ?</h3>
                    <input type="text" v-model='form.name'>
                    <br>
                    <input type="text" v-model='form.surname'>
                    <br>
                    <button @click='addUser'>ADD</button>
                </div>
            <hr>
            <button @click='pressMe' >PRESS ME</button>
            <div v-if='open' class='open'>
                it's open
            </div>

            <div v-else class="close">
                it's close
            </div>
            
            <hr>

            <input type="text" v-model='name'>
            {{ name }}
            {{ pressMe() }}
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js">    </script>
        <script>
            var a = new Vue({
                el: '#app',
                data: {
                    table: [
                        { name: "Nursultan", surname: "Rakishev" },
                        { name: "Ersik", surname: "Amanzhol"}
                    ],
                    form: {
                        name: '',
                        surname: ''
                    },
                    //   ================================
                    open: false,
                    // ==============================
                    name: 'Alisher',
                    lol: 'kek',
                    lal: {
                        lop: {
                            pol: 'pol',
                        }
                    } 
                },
                watch: {
                    "name": function(value) {
                        console.log(value)
                    }
                },
                methods: {
                    addUser(){
                        let form = {
                            name: this.form.name ,
                            surname: this.form.surname
                        }
                        this.table.push(form)
                        this.form.name = ''
                        this.form.surname = ''
                    },
                    deleteUser(index) {
                        this.table.splice(index,1)
                    },
                    pressMe() {
                        this.open = !this.open
                    },
                    fullName(a) {
                        // return  a + "Alisher"
                    },
                }
            })
        </script>
    </body>

</html>